body {
  margin: 0;
  font-family: "Roboto";
  background: #222831;
}
.main{
  min-height: calc(100vh-170px);
  margin-top: 120px;
}
.nav-bar{
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 5px 0;
  background-color:  #FFC700;
  margin-bottom: 30px;
  width: 100%;
  position: fixed;
  z-index: 1000;
  top: 0;
  left: 0;
}
.logo {
  display: flex;
  align-items:center;
  gap:10px
}
.logo span{
  margin: 0;
  font-size: 2.5rem;
}
.logo h3{
  color: black;
  font-size: 2rem;
}
.search input{
  width: 500px;
  height: 50px;
  border-radius: 5px;
  border:none;
  padding-top: 3px;
  padding-bottom: 3px;
  font-size: 1rem;
  font-family: "Poppins";
  font-style:bold;
  background-color: #222831;
  color: white;
  padding-left: 5px;
  caret-color:#9290C3;
}
.search input:focus{
  outline: none;
}
.search{
  display: flex;
  align-items: center;

}
.search svg{
  cursor: pointer;
}
.nav-bar p{
  color:black;
}
.section-divs{
  color: white;
  width: 300px;
  height: 50px;
  margin: auto;
  display: flex;
  gap:20px;
  justify-content: space-around;
  align-items: center;
  font-family: "Poppins",sans-serif;
  font-size: large;
  margin-bottom: 30px;
}

.section-divs div:hover{
  text-decoration: underline;
  cursor: pointer;
}
.section-active{
  text-decoration: underline;
  color: rgb(49, 156, 237);
}

.error{
  color:white;
  text-align: center;
}

.whole-box{
  display: flex;
  max-width: 700px;
  margin:auto;

}
.box-hidden{
  visibility: hidden;
}
.whole-box .movie-box{
  background-color: #31363F;
  border:1px solid #5C5470;
  width: 50%;
  height: 350px;
  overflow-y: auto;
  scrollbar-width: thin;
  scrollbar-color: #31363F grey;
  position: relative;
}
.search-movie-box{
  border-bottom-left-radius: 10px;
  border-top-left-radius: 10px;
}
.movie-details{
  border-bottom-right-radius: 10px;
  border-top-right-radius: 10px;
}

.loader{
  margin: auto;
  width: 60px;
  margin-top: 30px;
}
.whole-box .heading-title{
  position: sticky;
  top: 0;
  background-color: #31363F; 
  z-index: 10;
  padding: 0 5px;
  color: #9290C3;
  border-bottom: 1px solid #9290C3;
  margin-bottom: 0;
  height: 20px;
  margin-top: 0;
  
  
}
.watched-title-bar{
  display: flex;
  justify-content: space-between;
}
.watched-title-bar p{
margin-top: 0;
}
.selection-for-sort{
  background-color: #e0f7fa;
  border-radius: 5px;
}
.selection-for-sort:focus{
  border:1px solid purple;
  outline: none;
  
}


.search-movie-list{
  list-style: none;
  padding-left: 0;
  margin-top: 0;
}
.search-movie{
  display: flex;
  width: 100%;
  font-family: "Roboto";
  align-items: center;
  /* justify-content:flex-start; */
  /* height: 110px; */
  /* min-height: 150px;
  max-height: 190px; */
  padding-top: 10px;
  padding-bottom: 10px;
  gap:20px;
  color:#DDE6ED;
  border-bottom:1px solid #5C5470;
  cursor: pointer;
}
.movie-preview{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  gap: 10px;
}
.movie-preview *{
  margin: 0;
}
.search-movie img{
  height: 100px;
  width: 80px;
}

.selected-movie-details{
  /* display: flex; */
  /* flex-direction: column; */
  align-items: center;
  position: relative;
}
.selected-movie-details img{
  width: 100px;
}
.selected-movie-details .back-btn{
  position: sticky;
  top:25px;
  left:0;
  background-color: white;
  height: 30px;
  width: 30px;
  left: 2px;
  cursor: pointer;
  margin: 0;
  border-radius: 50%;
  font-size: 26px;
  font-weight: 700;
  line-height: 1;
}
.movie-info{
  display: flex;
  justify-content: center;
  gap: 10px;
  align-items: center;
}
.movie-info h3{
  color: #DDE6ED;
  font-family: "Roboto";
  font-weight: 600;
  font-size: 20px;
}
.movie-info p{
  color: #DDE6ED;
  font-size: 13px;
}
.already-watched{
  color:rgb(119, 201, 119)
}
.no-results{
  color: #DDE6ED;
  padding:2px 5px ;
}
.rating{
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #414A5C;
  width: 90%;
  margin: auto;
  border-radius: 10px;
}
.rating .add-btn{
  background-color: rgb(57, 116, 226);
  padding: 7px 7px;
  color: white;
  border: none;
  font-size: 14px;
  border-radius: 10px;
  cursor: pointer;
  margin-bottom: 5px;

}
.movie-story{
  color: white;
  padding:15px 15px;
}
.movie-story p{
  text-decoration: underline;
}
.movie-story em{
  color:#F5F5F5;
  font-size: 1rem;
}

.watched-movie-box{
  margin: auto;
  border-radius: 10px;
}
.no-details{
  color: #DDE6ED;
  padding: 5px;
}
.watched-movie-list{
  list-style: none;
  padding-left: 0;
  margin-top: 0;
}
.watched-movie{
  display: flex;
  position: relative;
  align-items: center;
  justify-content: start;
  padding-left: 5px;
  gap: 20px;
  margin-left: 0;
  margin-top: 5px;
  border-bottom: 1px solid #5C5470;
}
.watched-movie img{
  height: 100px;
}
.watched-movie-info{
  padding: 10px 5px;
}
.watched-movie-info *{
  margin: 0;
}
.watched-movie .watched-movie-info{
  color: #DDE6ED;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  gap: 5px;
} 
.delete-btn{
  position: absolute;
  right: 5px;
  background-color: red;
  color: white;
  border:none;
  border-radius: 50%;
  cursor: pointer;
  top:70%;
}
footer {
  background-color: #484848;
  color: #DDE6ED;
  margin-top: 110px;
  text-align: center;
  padding: 10px 0;
  width: 100%;
  bottom: 0;
}

@media (max-width: 1000px){
  .logo span{
    font-size: 2rem;
  }
  .logo h3{
    font-size: 1.2rem;
  }
  .search input{
    max-width: 360px;
  }
  .main{
    margin-top: 100px;
  }
  .nav-bar p{
    font-size: 1rem;
    font-weight: 700;
  }
}

@media (max-width: 742px){
  .logo span{
    font-size: 1.5rem;
  }
  .logo h3{
    font-size: 1rem;
  }
  .search input{
    max-width: 260px;
  }
  .nav-bar p{
    font-size: 1rem;
    font-weight: 700;
  }
  .whole-box{
    max-width: 400px;    
    flex-wrap: wrap-reverse;
    gap: 20px;
  }
  .whole-box .movie-box{
    margin: auto;
    flex-grow: 1;
    border-radius: 10px;
  }
  .movie-details{
    max-height: 200px;
  }
  .section-divs{
    margin-bottom: 5px;
  }
  .main{
    margin-top: 65px;
  }
}

@media (max-width: 564px) {
  .logo span{
    font-size: 2rem;
  }
  .logo h3{
    font-size: 0.9rem;
  }
  .search input{
    max-width: 190px;
    max-height: 40px;
    font-size: 0.8rem;
  }
  .nav-bar p{
    font-size: 1rem;
    font-weight: 700;
  }  
}

@media (max-width:520px){
  .logo h3{
    font-size: 0.9rem;
  }
  .search input{
    max-width: 120px;
    font-size: 0.7rem;
    max-height: 35px;
    padding-right: 5px;
  }
  .nav-bar p{
    font-size: 1rem;
    font-weight: 700;
  }
  .section-divs{
    margin-bottom: 20px;
  }
  .nav-bar{
    margin-bottom: 20px;
  }
}

@media (max-width:438px){
  .search svg{
    width: 40px;
    height: 50px;
  }
  .nav-bar p{
    font-size: 0.7rem;
  }
  .movie-box{
    max-width: 90%;
  }
  .search-movie{
    /* min-height: 170px; */
    /* max-height: 200px; */
    height: auto;
    
  }
}
@media (max-width:399px){
  .logo{
    gap: 0;
  }
  .logo span{
    font-size: 1.2rem;
  }
  .logo h3{
    font-size: 0.7rem;
  }
  .nav-bar p{
    text-wrap: wrap;
  }
  .search-movie{
    height: 120px;
  }
  
}
@media (max-width: 351px){
  .logo span{
    margin-right: 0;
  }
  .logo h3{
    font-size: 0.5rem;
    margin-left: 0;
  }
  .search input{
    max-height: 20px;
  }
  .nav-bar p{
    font-size: 0.5rem;
  }
  .search svg{
    width: 30px;
  }  
  .movie-preview h3{
    font-size: 0.7rem;
  }
  .movie-preview p{
    font-size: 0.7rem;
  }
  .watched-movie-info{
    font-size: 0.8rem;
  }
}
@media (max-width: 296px) {
  .search input{
    width: 90px;
  }
}


